{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" class="icon2" href="{% static "img/umbrella.png" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commercial Vehicle</title>
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/commercial.css' %}">
  {% endblock %}
</head>
<body>
  <div class="nav shadow-sm p-3 mb-5 bg-white rounded">
    <div class="logo">
        <a href="index.html"><img src="{% static "img/logo.png" %}" alt=""></img></a>
    </div>
    
    <div class="menu">
        <a href="index.html">Home</a>
        <a href="#">Motor</a>
        <a href="property.html">Property</a>
        <a href="fire.html">Fire</a>
        <a href="liability.html">Liability</a>
        <a href="marine.html">Marine</a>
        <a href="inquiry.html">Contact Us</a>
    </div>

    <input type="checkbox" id="toggle"/>
    <label for="toggle" class="stack">
      <img src="{% static "img/Burger.png" %}" alt=""></img>
    </label>
     
</div><br><br><br><br>
  {% if messages %}
    {% for message in messages %}
      {% bootstrap_javascript jquery=True %}
      {% bootstrap_messages message %}
    {% endfor %}
  {% endif %}
  <div class="hl">
    <img class="icon3" style="float:left" src="{% static "img/commercialimg.png" %}" alt=""></img><h1>Commercial Vehicle Quotation Inquiry</h1>
  </div>
  <hr class="line">
    <div class="container-fluid">

        <form class="form" action="{%url 'commercial'%}" method="post">
          {%csrf_token%}
          <div class="strong">
            <strong>Cover Type</strong>
          </div>
          <div class="cover">
            {% bootstrap_form letterForm exclude="first_name,last_name,phone_number,email,vehicle_make,vehicle_model,registration_number,YOM,color,period_from,period_to" layout='inline'  %}
          </div>
          {% bootstrap_form letterForm exclude="cover_type,YOM,color,period_from,period_to" layout='inline' %}
          <div class="strong">
            <strong>Vehicle Year</strong>
          </div>
          <div class="cover">
            {% bootstrap_form letterForm exclude="cover_type,first_name,last_name,phone_number,email,vehicle_make,vehicle_model,registration_number,color,period_from,period_to" layout='inline'  %}
          </div>
          {% bootstrap_form letterForm exclude="cover_type,first_name,last_name,phone_number,email,vehicle_make,vehicle_model,registration_number,YOM" layout='inline'  %}
          <div class="sub">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm btn-block rounded-circle">
          </div>
        </form>
        
      </div>
      <div class="footer">
        <div class="quick-link">
          <h2>QUICK LINK</h2>
          <p>Home | General Liability | Education | Medical | Fire | All Risk | Electrical | Personal Accident | Personal Indemnity | Contractors All Risk | Money</p>
        </div>
        <div class="contact">
          <h2>CONTACT</h2>
          <p>Swing House, 3rd Floor Room 3</p>
          <p>Madaraka Centre</p>
          <p>P.0 Box 37874 - 00100 Nairobi</p>
          <p>Mr. Sosten Kerich</p>
          <p>+254 722725600</p>
        </div>
      </div>
      <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>