body{
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'monts';
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.grid{
    display: grid;
    grid-template-columns: repeat(9,1fr);

}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

@font-face{
    font-family: 'montslight';
    src: url('/fonts/Montserrat-Light.ttf');
}

@font-face{
    font-family: 'montsmedium';
    src: url('/fonts/Montserrat-Medium.ttf');
}

@font-face{
    font-family: 'monts';
    src: url('/fonts/Montserrat-Regular.ttf');
}