h1{
  color: black;
  text-align: center;
  margin-top: 0;
}

.hl{
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 140px;
}

.form{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}


.sub{
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
}

.footer{
  background-color: #1C264B;
  margin-bottom: 0%;
  padding-bottom: 1%;
  color: white;
  text-align: center;
}

.quick-link{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0%;
  display: flex;
  background-color: white;
  width: 100%;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.nav .logo img {
  margin-right: 2em;
  left: 0%;
  top: -2%;
  position: relative;
  height: 2.5em;
}

.nav .menu {
  text-align: center;
  margin-right: 3em;
}

.nav .menu a {
  color: rgba(0, 0, 0, 0.89);
  margin-left: 1.5em;
  text-decoration: none;
  padding: 10px;
}

.nav #toggle {
  float: right;
  display: none;
}

.nav label {
  display: none;
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 45px;
}

.cover{
  margin-bottom: 10px;
}

.strong{
  margin-bottom: 5px;
}

.icon3{
  padding: 0px;
  margin-left: 130px;
  width: 47px; 
  height: 47px;
}

.line{
  width: 60%;
  height:1px;
  border-width:0;
  color:gray;
  background-color:gray
}

  @media only screen and (max-width: 1040px) {
  .nav label {
    display: block;
  }
  .nav .menu {
    display: none;
    top: 12em;
    left: 7.45em;
    position: relative;
    text-align: center;
    width: 60%;
  }
  .nav .menu a {
    background-color: white;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  }
}

@media only screen and (max-width: 360px) {
  .nav {
    font-size: 12px;
  }
  .nav .menu {
    position: absolute;
    left: 40%;
    top: 85%;
  }
}

@media only screen and (min-width: 768px) {
  .nav .menu {
    top: 12em;
  }
  .nav .menu a {
    height: 2em;
  }
}

@media (min-height: 800px) and (min-width: 1024px) {
  .nav {
    padding: 20px;
  }
  .nav .logo img {
    height: 3.2em;
  }
  .nav .stack {
    margin-right: 5em;
  }
  .nav .stack img {
    height: 1.5em;
  }
  .nav .menu {
    left: 25%;
  }
}

@media only screen and (min-width: 1030px) {
  .nav {
    padding: 4px;
  }
  .nav .logo img {
    height: 2.2em;
  }
  .nav .stack img {
    height: 1.2em;
  }
  .nav .menu {
    font-size: 18px;
  }
}

/* small tablet styles */
@media screen and (min-width: 620px){
  .icon3{
    padding: 0px;
    margin-left: 80px;
    width: 65px; 
    height: 65px;
  }

  .form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 70px;
  }
  .hl{
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 50px;
  }

  .quick-link{
    margin-right: 10%;
    margin-left: 10%;
  }


}

/* large tablets & laptop styles */
@media screen and (min-width: 960px){
  .icon3{
    padding: 0px;
    margin-left: 80px;
    width: 90px; 
    height: 90px;
  }

  .form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 210px;
    margin-bottom: 10px;
  }
  .hl{
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 550px;
  }

  .footer{
    display: flex;
  }

  .line{
    width: 70%;
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
  }

  .quick-link{
    margin-right: 5%;
    margin-left: 10%;
  }

  .contact{
    margin-left: 10%;
    margin-right: 15%;
  }
}

/*desktop styles */
@media screen and (min-width: 1200px){
  .icon3{
    padding: 0px;
    margin-left: 90px;
    width: 100px; 
    height: 100px;
  }

  .form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 270px;
    margin-bottom: 15px;
  }
  .hl{
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 710px;
  }

  .footer{
    display: flex;
  }

  .line{
    width: 69%;
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
  }

  .quick-link{
    margin-right: 5%;
    margin-left: 10%;
  }

  .contact{
    margin-left: 10%;
    margin-right: 15%;
  }
}