h1{
  color: black;
  text-align: center;
}
.footer{
  background-color: #1C264B;
  margin-bottom: 0%;
  padding-bottom: 1%;
  color: white;
  text-align: center;
}

.quick-link{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.form{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.sub{
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
}