h1{
  color: black;
  text-align: center;
  font-size: 25px;
}

li, ul, a {
  list-style: none;
  text-decoration: none;
}

.navi .menu a{
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: 'montslight';
  src: local('montslight'), url('../fonts/Montserrat-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'montsmedium';
  src: local('montsmedium'), url('../fonts/Montserrat-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'monts';
  src: local('monts'), url('../fonts/Montserrat-Regular.ttf') format("truetype");
}

body{
  font-size: 12px;
  font-family: 'monts';
}

h2{
  font-size: 20px;
}

.hl{
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 30px;
}

.footer{
  background-color: #1C264B;
  margin-bottom: 0%;
  padding-bottom: 1%;
  color: white;
  text-align: center;
}

.quick-link{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.quick-link a{
  color: white;
}

.form{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.sub{
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
}

.navi {
  position: fixed;
  z-index: 1;
  top: 0%;
  display: flex;
  background-color: white;
  width: 100%;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.navi .logo img {
  margin-right: 2em;
  left: 20%;
  top: -2%;
  position: relative;
  height: 2.5em;
}

.navi .menu {
  text-align: center;
  margin-right: 3em;
}

.navi .menu a {
  transition: .8s;
}

.navi .menu a:hover {
  transition: .8s;
  background-color: #1E2E7A;
  color: white;
}

.navi .menu .motordrop {
  display: none;
  transition: .5s;
  background-color: white;
  position: absolute;
  padding: 0%;
  text-align: center;
  margin-left: 7.3%;
  margin-top: 2%;
}

.navi .menu .motordrop ul {
  padding: 0%;
}

.navi .menu .motordrop li {
  padding: 10px 18px 5px 0px;
  justify-content: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.navi .menu .motor {
  display: initial;
}

.navi .menu .motor:hover {
  transition: .5s;
  padding-bottom: 5%;
}

.navi .menu .motor:hover .motordrop {
  transition: 5s;
  display: block;
  position: absolute;
}

.navi .menu .motor:hover .motordrop li:hover {
  background-color: #1E2E7A;
  color: white;
}

.navi .menu .motor:hover .motordrop li:hover a {
  color: white;
  background-color: inherit;
}

.navi .menu a {
  color: rgba(0, 0, 0, 0.89);
  margin-left: 1.5em;
  padding: 10px;
}

.navi #toggle {
  float: right;
  display: none;
}

.navi label {
  display: none;
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 45px;
}

.cover{
  margin-bottom: 10px;
}

.strong{
  margin-bottom: 5px;
}

.icon3{
  padding: 0px;
  margin-left: 30px;
  width: 47px; 
  height: 47px;
}

.line{
  width: 65%;
  height:1px;
  border-width:0;
  color:gray;
  background-color:gray
}

@media only screen and (max-width: 1040px) {
  .navi label {
    display: block;
  }
  .navi .menu {
    display: none;
    top: 12em;
    left: 7.45em;
    position: relative;
    text-align: center;
    width: 60%;
  }
  .navi .menu a {
    background-color: white;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  }
  .navi .menu .motor {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .navi .menu .motor .motordrop {
    right: 8.5em;
    top: 11%;
  }
  .navi .menu .motor .motordrop a {
    border-bottom: none;
  }
}

@media only screen and (max-width: 360px) {
  .navi {
    font-size: 12px;
  }
  .navi .menu {
    position: absolute;
    left: 40%;
    top: 85%;
  }
}

@media only screen and (min-width: 768px) {
  .navi .menu {
    top: 12em;
  }
  .navi .menu a {
    height: 2em;
  }
}

@media (min-width: 414px) and (min-height: 500px) and (min-width: 1024px) {
  .navi {
    padding: 20px;
  }
  .navi .logo img {
    height: 3.2em;
  }
  .navi .stack {
    margin-right: 5em;
  }
  .navi .stack img {
    height: 1.5em;
  }
  .navi .menu {
    left: 25%;
  }
}

@media only screen and (min-width: 414px) and (min-width: 1025px) {
  .navi {
    padding: 4px;
  }
  .navi .logo img {
    height: 2.2em;
  }
  .navi .stack img {
    height: 1em;
  }
  .navi .menu {
    font-size: 18px;
  }
}

@media (min-height: 800px) and (min-width: 1024px) {
  .navi {
    padding: 20px;
  }
  .navi .logo img {
    height: 3.2em;
  }
  .navi .stack {
    margin-right: 5em;
  }
  .navi .stack img {
    height: 1.5em;
  }
  .navi .menu {
    left: 25%;
  }
}

@media only screen and (min-width: 1030px) {
  .navi {
    padding: 4px;
  }
  .navi .logo img {
    height: 2.2em;
  }
  .navi .stack img {
    height: 1.2em;
  }
  .navi .menu {
    font-size: 18px;
  }
}

/* extra thin devices */
@media screen and (max-width: 430px){
  body{
    font-size: 12px;
  }

  h1{
    font-size: 20px;
    margin-top: 30px;
  }

  h2{
    font-size: 15px;
  }

  .hl{
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 45px;
  }

  .line{
    margin-top: 10px;
    padding: 0%;
  }

  .icon3{
    padding: 0px;
    margin-left: 50px;
    width: 40px; 
    height: 40px;
  }

  .hl h1{
    margin-left: 30px;
  }

  
}

/* small tablet styles */
@media screen and (min-width: 620px){
  body{
    font-size: 14px;
  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }

  .icon3{
    padding: 0px;
    margin-left: 80px;
    width: 65px; 
    height: 65px;
  }

  .form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 70px;
  }
  .hl{
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 50px;
  }

  .quick-link{
    margin-right: 10%;
    margin-left: 10%;
  }

  .line{
    width: 70%;
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
  }


}

/* large tablets & laptop styles */
@media screen and (min-width: 960px){
  body{
    font-size: 16px;
  }

  h1{
    font-size: 35px;
  }

  h2{
    font-size: 30px;
  }

  .icon3{
    padding: 0px;
    margin-left: 80px;
    width: 90px; 
    height: 90px;
  }

  .form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 210px;
    margin-bottom: 10px;
  }
  .hl{
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 330px;
  }

  .footer{
    display: flex;
  }

  .line{
    width: 70%;
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
  }

  .quick-link{
    margin-right: 5%;
    margin-left: 10%;
  }

  .contact{
    margin-left: 10%;
    margin-right: 15%;
  }
}

/*desktop styles */
@media screen and (min-width: 1200px){
  body{
    font-size: 16px;
  }

  h1{
    font-size: 40px;
  }

  h2{
    font-size: 35px;
  }

  .icon3{
    padding: 0px;
    margin-left: 90px;
    width: 100px; 
    height: 100px;
  }

  .form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 270px;
    margin-bottom: 15px;
  }
  .hl{
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 470px;
  }

  .footer{
    display: flex;
  }

  .line{
    width: 69%;
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
  }

  .quick-link{
    margin-right: 5%;
    margin-left: 10%;
  }

  .contact{
    margin-left: 20%;
    margin-right: 15%;
  }
}